body{
    max-width: 100%;
    width: 100%;

    background-color: #f5e5be;
    background: linear-gradient(to left, #f5e5be, #2f1f1a);

}
.my_container {
    padding: 50px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1450px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;

}
.header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 100px;
    width: 100%;

}
.header button{
    margin-right: 25px;
}
.header img{
    margin-right: 150px;
}
button{
    padding: 10px 40px;
    background-color: #3cd925;
    border-radius: 15px;
    outline: none;
}
.my_content{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;


}
.main_content{
    flex: 1 1 1000px;
    max-width: 1000px;
    background-color: #f5e5be;
    display: flex;
    align-items: stretch;
    border-right: 1px solid black;
    border-left: 1px solid black;

}
.sidebar{
    padding: 100px 20px;
    flex: 1 1 400px;
    max-width: 400px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid black;
    border-left: 1px solid black;

}
.sidebar button{
    width: 80%;
    color: whitesmoke;
}